<div th:fragment="dashboard" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<div class="logo">
    <img src="../img/logo.png" alt="revue-logo"/>
</div>
<div class="user-panel">
    <div class="background"
         style="background-image: url(http://cdn.images.express.co.uk/img/dynamic/20/590x/secondary/better-call-saul-840784.jpg)"></div>
    <div class="profile">
        <img src="http://gwally.com/avatars/images/ricky_150.jpg" alt="randy-lahey" class="avatar"/>
        <div class="circle"></div>
        <div class="details">
            <div class="username">Randy Lahey</div>
            <div class="points">321</div>
        </div>
        <button class="submit-review">Dodaj recenzję</button>
    </div>
</div>
<ul>
    <li class="active">Przeglądaj recenzje</li>
    <li>Strumyk obserwowanych</li>
    <li>Ranking użytkowników</li>
</ul>
</div>